/* register.component.css */

.register {
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJFyj15s20PsDSR7r24NFl_43BssZGwBwrM59J1IMS99guT8a3ISfPDmjYqORRrYoACRM&usqp=CAU);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.custom-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333; /* Cambia el color del texto según tus preferencias */
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4c93af;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #6245a0;
}
