body{
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/015/129/211/original/background-or-frame-animated-grid-gradient-color-moving-as-a-futuristic-intro-free-video.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
